.caja{
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.reloj{
    margin: 0 auto;
    border: 5px solid #00ff41;
    border-radius: 15px;
    color:white;
    background-color: #001f3f;
    text-align: center;
    max-width: 50%;
    margin-top: 20%;
    padding: 10px;
    font-size: 25px;


}
.animar{
    color:orange;
    border: 5px solid black;
    background-color:rgba(55, 211, 232, 0.864) ;
}


